<!-- Reference: 
  https://www.w3schools.com/bootstrap/bootstrap_filters.asp 
  https://www.codemag.com/Article/1511031/CRUD-in-HTML-JavaScript-and-jQuery
  https://scotch.io/tutorials/use-ejs-to-template-your-node-application
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Price List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Price List</h2>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Category</th>
        <th>Product</th>
        <th>Cost</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <% products.forEach(function(product) { %>
          <tr id=<%= product.id %> tip="<%= product.name %>">
            <td id=category><%= product.category %></td>
            <td id=name><%= product.name %></td>
            <td id=cost><%= product.cost %></td>
            <td id=comment><%= product.comment %></td>
          </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<!-- shopping list -->
<div class="container">
    <h2>Shopping List</h2>
    <div class="shoppingGrandTotal">
    </div>
    <br>
    <table class="table table-bordered table-striped" id="productTable">
      <thead>
        <tr>
          <th>Product</th>
          <th>SubTotal</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="myList">
      </tbody>
    </table>
  </div>

<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...          
        </div>
        <div class="modal-quantity">
          <input type="number" id="quantity" value="0">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onClick="someFunction()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<script>
  // quick filter
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  // row clicked
  $('.table > tbody > tr').click(function(event) {
      $('#exampleModal').modal({
        show: 'false'
      });
      $(".modal-body").text('Enter quantity for ' + $(this).attr('tip') + ': '); 
      var clickFunction = $(".modal-footer").find(".btn-primary").attr('onClick');
      //console.log(clickFunction);
      var functionName = clickFunction.substring(0,clickFunction.indexOf("("));
      //console.log(functionName);

      // gather data
      var category = $(this).find('#category').text();
      console.log(category)
      var name = $(this).find('#name').text();
      console.log(name)
      var cost = $(this).find('#cost').text();
      console.log(cost)
      var comment = $(this).find('#comment').text();
      console.log(comment)

      // set up the function args
      $(".modal-footer").find(".btn-primary").attr('onClick', functionName+"('" + category + "', '" + name + "', '" + cost + "', '" + comment + "')");
      
      // echo out the function args
      console.log($(".modal-footer").find(".btn-primary").attr('onClick'));
  });

  // close modal
  $('.modal-footer > .btn-primary').click(function(event) {
    $('#exampleModal').modal('toggle');
  })

  // add to the shopping list
  function productsAdd(category, name, cost, comment, quantity) {
    console.log('quantity: ' + quantity);
    var costAsNumber = cost.split('$')[1];
    console.log('cost: ' + costAsNumber);
    var subtotal = (quantity * costAsNumber*100)/100;
    console.log('subtotal: ' + subtotal);
    // # is for html "id"
    $("#productTable tbody").append(
        "<tr>" +
          //"<td>"+ category + "</td>" +
          "<td id=name>"+ name + "</td>" +
          "<td id=subtotal>"+ subtotal + "</td>" +
          "<td id=deleteProduct><button type='button' class='btn btn-default' aria-label='Close' onclick='deleteProduct(this)'><span class='glyphicon glyphicon-trash'/></button></td>" +
          //"<td id=deleteProduct><a href='#' onclick='deleteProduct(this)'><span class='glyphicon glyphicon-trash'/></a></td>" +
          //"<td>"+ comment + "</td>" +
        "</tr>"
    );
    calculateGrandTotal();
  }

  // gather data from modal
  function someFunction(category, name, cost, comment) {
    console.log('someFunction received category: ' + category);
    console.log('someFunction received category: ' + name);
    console.log('someFunction received category: ' + cost);
    console.log('someFunction received category: ' + comment);
    const quantity = $(".modal-quantity").find('#quantity').val();
    console.log('quantity: ' + quantity);
    // clear field
    // . is for html class
    $(".modal-quantity").find('#quantity').val('');

    productsAdd(category, name, cost, comment, quantity);
  }

  // deleteProduct from grocery list
  function deleteProduct(x) {
    console.log('deleted: ' + x);
    $(x).parents("tr").remove();
    calculateGrandTotal();
  }

  function calculateGrandTotal() {
    var runningTotal = 0;
    $("#productTable").find('#myList').children().find('#subtotal').each(function (index) {
      console.log(index + ": " + $(this).text());
      runningTotal = runningTotal + ($(this).text()*100)/100;
    });
    var formattedTotal = Number(runningTotal).toLocaleString('us-US', { style: 'currency', currency: 'USD'});
    console.log(`runningTotal formatted: ${formattedTotal}`);
    //$(".shoppingGrandTotal").text('$' + ((runningTotal*100)/100));
    $(".shoppingGrandTotal").text(formattedTotal);
  }
</script>

</body>
</html>

